*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.showcase::after{
    content: '';
    height: 100vh;
    /* z-index: 2; */
    width: 100%;
    background-image: url(https://image.ibb.co/gzOBup/showcase.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    filter: blur(10px);
    transition: all 1000ms;
}
.showcase:hover::after{
    filter: blur(0px);
}

.content{

    
    position: absolute;
    z-index: 1;
    margin-top: 105px;
  margin-left: -145px;
    top: 10%;
    left: 50%;
    text-align: center;
        height: 350px;
    width: 300px;
    /* filter: blur(8px); */
}
.content .title{
    font-size: 2.5rem;
}
.showcase:hover .content{
    filter: blur(2px);
    transition: all 1000ms;
}

.content .logo{
    height: 180px;
    width: 180px;
}

.services{
    /* padding: 50px; */
    padding: 100px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
.about-us{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: white;
    color: #333;
    padding: 100px;
}




.main-footer{
    text-align: center;
    padding: 2.2rem;
    /* margin: 2.2rem; */
}


@media(max-width:560px){
    .showcase::after{
        height: 50vh;
    }

    .showcase .logo{
        width: 90px;
        height: 90px;
    }

    .content{
        position: absolute;
        z-index: 1;
        top: 0%;
        margin-top: 10%;
    }

    .content .text{
        visibility: hidden;
    }

    .services{
        
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 60px;
        /* background-color: #333; */

        
    }

    .about-us{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .services div{
        border-bottom: 1px white dashed;
    padding-bottom: 1.2rem 1rem;
    }

    .about-us div{
        padding-bottom: 2.2rem;
    }

    .services i,.services h3,.services p{
        margin-bottom: 20px;
    }

    

}

@media(max-height:500px){
    .content .title,.content .text{
        display: none;
    }

    .content{
        margin-top: 5%;
    }
}